.delete-review-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    gap: 10px;
}

h2.delete-subheader {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.red-button {
    font-family: 'Raleway', sans-serif;
    background-color: lightcoral;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 3px 3px black;
    width: 150px;
}

.red-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.grey-button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.grey-button {
    font-family: 'Raleway', sans-serif;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 3px 3px black;
    width: 150px;
}

.review-form-errors {
    color: red;
    font-family: 'Raleway', sans-serif;
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
}

.create-review-header {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.review-input  {
    /* display: flex;
    flex-direction: row; */
    /* position: absolute; */
    width: 285px;
    height: 100px;

}

.star-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;


}

.reviews-date {
    color: gray;
}

.reviews-name {
    color: black;
    font-size: 17px

}

.reviews-review {
    font-size: 14px;

}

.material-symbols-outlined:hover {
    cursor: pointer;

}

.review-button {
    width: 150px;
    margin-top: 8px;
    margin-left: 70px;

}
