.create-spot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-spot-header {
  width: 600px;
  font-size: 14px ;

}

.city-state-container {
  display: flex;
  flex-direction: row;
}

.handle-form-errors {
  color: red;
}

.field-label {
  padding-right: 8px;
}

p {
  font-family: 'Raleway', sans-serif;
}

div {
  font-family: 'Raleway', sans-serif;
}

.description-input {
  width: 585px;
  height: 200px;

}

textarea {
  font-family: 'Raleway', sans-serif;
}
