/* .create-spot {
    display: flex;
    flex-direction: column;
    width: 500px;
    box-sizing: border-box;
    padding: 0 25px 25px 25px;
    border-radius: 25px;
  }

  .create-spot-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .field-label {
    text-align: center;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="number"],
  input[type="url"],
  textarea {
    width: calc(100% / 3);
    padding: 5px;
    margin-bottom: 10px;
  }

  .handle-form-errors {
    margin: 0;
    color: red;
    font-size: 14px;
    text-align: center;
  }

  .country-input,
  .address-input,
  .city-input,
  .state-input {
    width: calc(50% - 5px);
    margin: 0 5px;
  }

  .city-input,
  .state-input {
    margin-left: 0;
  } */
