.spot-image-box {
  display: flex;
  flex-direction: row;
}

.preview-image {
  width: 480px;
  height: 470px;
  object-fit: cover;
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 55px;
  padding-right: 15px;
}

.single-spot-rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 5px;
  align-items: center;
}

.label-errors {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */

}

h1 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

div.spotReviews {
  padding-left: 15px;
  font-family: 'Raleway', sans-serif;
}

.spot-details-description {
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
  padding-bottom: 10px;
}

.spot-details-reviews {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  padding-bottom: 10px;

}

.spot-image-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 395px;
  gap: 0.5rem;
  padding-right: 70px;
}



.tile-image {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 21px;

}

.spot-details-info {
  display: flex;
  flex-direction: row;
  border-bottom: 2px dotted black;
}

.spot-details-booking-info {
  display: flex;
  flex-direction: row;

}

.spot-details-booking {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spot-detail-border {
  border: 2px solid black;
  border-radius: 21px;
  padding: 15px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;

}
