.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 400px;

  }

  .login-form form {
    display: flex;
    width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .login-form h1 {
    text-align: center;
  }

  .login-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  .login-form input {
    width: 70%;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }

  .login-form p {
    text-align: center;
  }

  .login-form button {
    margin-top: 1rem;
  }

  .login-button {
    box-shadow: 5px 3px 3px black;
    border: none;
    width: 77%;
    color: black;
    font-family: 'Raleway', sans-serif;
    background-color: lightblue;
    padding: 5px;
    border-radius: 4px;
  }

  .demo-user-button {
    border: none;
    background: none;
    color: blue;
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 20px;
  }
